<mat-tab-group>

  <mat-tab label="Niño">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
      <div *ngFor="let pintura of boysFacePaints" class="bg-white rounded shadow p-4 flex flex-col items-center">
        <img [src]="pintura.image" alt="Pintura Niño" class="w-full h-40 object-cover rounded mb-2" />
        <span class="text-center font-semibold">{{ pintura.name }}</span>
      </div>
    </div>
  </mat-tab>


  <app-material-select label="Seleccione usuario" [items]="users" valueField="id" displayField="name"
    (changeValue)="onUserChange($event)">
  </app-material-select>





  <mat-tab label="Niña">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
      <div *ngFor="let pintura of girlsFacePaints" class="bg-white rounded shadow p-4 flex flex-col items-center">
        <img [src]="pintura.image" alt="Pintura Niña" class="w-full h-40 object-cover rounded mb-2" />
        <span class="text-center font-semibold">{{ pintura.name }}</span>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>


<app-invoices>


</app-invoices>