/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ocultar todo el contenido cuando esté en vertical */
@media screen and (orientation: portrait) {
  app-root {
    display: none;
  }

  .rotate-warning {
    display: flex;
  }
}

@media screen and (orientation: landscape) {
  .rotate-warning {
    display: none;
  }
}
